@model PagedList.IPagedList<quiniela.Models.tblUsers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/menu.cshtml";
}
@using PagedList.Mvc;
@using PagedList;
@using X.PagedList.Mvc.Bootstrap4;

@using (Html.BeginForm("index", "UserAdministration", FormMethod.Get))
{
    @Html.RadioButton("searchBy", "Name", true); <text>Name</text>
    @Html.RadioButton("searchBy", "Gender", false);<text>Gender</text>
    @Html.TextBox("search"); <input type="submit" value="search" />
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.ActionLink("Nombre","index",new { sortOrder = ViewBag.sortVname })</th>
            <th>@Html.ActionLink("Apellidos","index",new { sortOrder = ViewBag.sortVlastName})</th>
            <th>@Html.ActionLink("Usuario", "index", new { sortOrder = ViewBag.SortvUsuario })</th>
            <th>@Html.LabelFor(model => model.First().bActive)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.vName)</td>
                <td>@Html.DisplayFor(modelItem => item.vLastName)</td>
                <td>@Html.DisplayFor(modelItem => item.vUserName)</td>
                <td>
                    @if (Convert.ToBoolean(@item.bActive))
                    {
                        <input type="checkbox" class="form-check" checked disabled />
                    }
                    else
                    {
                        <input type="checkbox" class="form-check" disabled />
                    }

                </td>

            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </ul>
</nav>
